/*
 * GENERAL CONTENT THEMING
 */
body {
    background-color: #24292E;
}

h1, h2, h3, h4, h5, li, p, a, label {
    color: white;
}

/*
 * Navbar
 */
.navbar {
    background-color: #24292E;
    color: white;
}

.nav-link {
    color: white;
}

.navbar-search-input-focus {
    background-color: #0C0C0C !important;
}

/*
 * Search Content
 */
.search-content {
    background-color: #24292E;
}
