/*
 * GENERAL CONTENT THEMING
 */
body {
    background-color: #31383F;
}

h1, h2, h3, h4, h5, li, p, a, label {
    color: white;
}

.card {
    background-color: #2D333A;
    color: white;
}

.card-testimonies-info h6 {
    color: white;
}

.tab-link {
    background-color: #2D333A;
    color: white;
}

.tab-item:not(.active) .tab-link:hover {
    background-color: #444A50;
}

.tab-item-title {
    color: white;
}

.tab-link p {
    color: white;
}

/*
 * Navbar
 */
.navbar {
    background-color: #24292E;
    color: white;
}

.nav-link {
    color: white;
}

.navbar-search-input-focus {
    background-color: #0C0C0C !important;
}

.navbar-main .dropdown .dropdown-menu {
    background-color: #2D333A;
}

.dropdown-menu > li > a {
    color: white;
}


/*
 * Search Content
 */
.search-content {
    background-color: #24292E;
}

/*
 * Login Box
 */
.auth-block {
    background-color: #2D333A;
}

.auth-block .auth-block-divider span, .auth-block input {
    background-color: #2D333A;
}

.auth-block .form-group-float label {
    background-color: #2D333A;
}


.modalBody_11GNRrUkJM {
    background-color: #2D333A;
}

.modalBtn_2tdgyMABVI {
    background-color: #31383F;
    border-color: #31383F !important;
}

.modalBtn_2tdgyMABVI:hover {
    background-color: #444A50;
    border-color: #444A50 !important;
    color: white;
}

/*
 * Dashboard page
 */
body .menu, body header {
    background-color: #24292E;
    border-color: #24292E;
}

.form-control {
    background-color: #0C0C0C;
    border-color: #0C0C0C;
}
